#wrapper{
    background-color: #d0dfbf;
	border-color: #000033;
}

h1{
    background-color: #adda9c;
}

h2{
    background-color: #adda9c;
}

h3{
    background-color: #adda9c;
}

text{
    text-align: center;
}

header :link {
	color: #000000;
}
header :visited {
	color: #303d2c;
}
header :hover {
	color: #1c465b;
}
nav{
    background-color: #ffffff;
}
nav ul{
	list-style-type:none;
	margin: 0;
	padding-left: 0;
	font-size: 1.2em;
    text-decoration: none;
	}
:link{
	color: #000000;
	}	
:visited{
	color: #303d2c;
	}
:hover{
	color: #1c465b;
	}

a{
    text-decoration: none;
}

main ul{
    list-style-type:none;
	margin: 0;
	padding-left: 0;
    text-decoration: none;
}

#taggycentral{
	height: 300px;
	width: 300px;
	background-image: url(tagalong.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 3em;
	margin-left: 37em;
	}

#tagalongchristmas{
	height: 300px;
	width: 300px;
	background-image: url(christmas.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 37em;
}

#tagalongdad{
	height: 300px;
	width: 300px;
	background-image: url(snugglingdad.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#tagalongdryer{
	height: 300px;
	width: 300px;
	background-image: url(dryer.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#tagalongjoey{
	height: 300px;
	width: 300px;
	background-image: url(featuringjoey.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#tagalongdinner{
	height: 300px;
	width: 300px;
	background-image: url(dinnertime.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#tagalongblep{
	height: 300px;
	width: 300px;
	background-image: url(blep.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#tagalongsideways{
	height: 300px;
	width: 300px;
	background-image: url(sidewayssleep.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#tagalongboat{
	height: 300px;
	width: 300px;
	background-image: url(boatnap.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

footer{
	text-align: center;
}

h4{
	text-align: center;
}

table {
	border: 2px solid #adda9c;
	border-collapse: collapse;
}

td {
	padding: 0.5em;
	border: 2px solid #adda9c;
	text-align: center;
}

th{
	padding: 0.5em;
	border: 2px solid #adda9c;
}

caption{
	font-size: 1em;
}

#twocats{
	height: 300px;
	width: 300px;
	background-image: url(windowpeering.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#cuties{
	height: 300px;
	width: 300px;
	background-image: url(windowbrother.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#bap{
	height: 300px;
	width: 300px;
	background-image: url(bap.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#sniff{
	height: 300px;
	width: 300px;
	background-image: url(sniff.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#tabletime{
	height: 300px;
	width: 300px;
	background-image: url(tabletime.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

form{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 60%;
}

input,
textarea{
	margin-bottom: 0.25em;
}

video{
	float: left;
	margin-top: 2em;
}

#video{
	height: 300px;
	width: 300px;
	margin-bottom: 4em;
	margin-left: 37em;
}

#chair{
	height: 300px;
	width: 300px;
	background-image: url(chair.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#couch{
	height: 300px;
	width: 300px;
	background-image: url(couch.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#cutechristmas{
	height: 300px;
	width: 300px;
	background-image: url(cutechristmas.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#drpepper{
	height: 300px;
	width: 300px;
	background-image: url(drpepper.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}

#towerfriends{
	height: 300px;
	width: 300px;
	background-image: url(towerfriends.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 2em;
	margin-left: 37em;
}
